.centerIcon{
    margin-top: -10px;
}
.findMe{
    font-size: x-large;
}
.grayColor{
    color: #d3d3d3 !important;
}
.education{
    background-image: url("../assets/img/study.png");
    background-size: cover;
    background-color: rgb(204, 204, 204);
    background-blend-mode: overlay;
}