.centerIcon{
    margin-top: -10px;
}
.findMe{
    font-size: x-large;
}
.grayColor{
    color: #d3d3d3 !important;
}
.education{
    background-image: url("../assets/img/study.png");
    background-size: cover;
    background-color: rgb(204, 204, 204);
    background-blend-mode: overlay;
}
.spaceTop{
    padding-top: 50px;
}

.linkOnBlue{
    color: rgb(34, 34, 34);
    text-decoration: underline;
}
.linkOnBlue:hover{
    color: rgb(68, 68, 68);
}